* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(202, 193, 193);
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    padding: 3rem;
    font-size: 3rem;
}

.wrapper {
    max-width: 50rem;
    margin: 0 auto;
    background: rgb(237, 215, 215);
}

.mem-list {
    width: 100%;
    padding: 0 3rem;
    list-style: none;
}

.mem-item {
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: .1rem solid rgb(106, 106, 106);
}

.mem-item:last-child {
    border-bottom: none;
}

.mem-title {
    display: flex;
    justify-content: space-between;
}

.mem-label {
    cursor: pointer;  
    transition: all .2s ease-in-out;
}

.mem-caption {
    color: blue;
}

.mem-plus {
    display: block;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.mem-img {
    max-height: 0;
    max-width: 0;
    margin: 0 auto;
    display: block;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.mem-input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.mem-input:checked +.mem-label .mem-img {
    max-height: 25rem;
    max-width: 100%;
    padding-top: 1rem;
    opacity: 1;
}

.mem-input:checked .mem-plus {
    transform: rotate(45deg);
}

.mem-input:checked +.mem-label .mem-title .mem-caption {
    color: black;
}



  /* when hover is supported */

@media (hover: hover) {

    .mem-list:hover .mem-title .mem-plus {
        opacity: 1;
    }

    .mem-label:hover .mem-title .mem-plus {
        transform: rotate(45deg);
    }

    .mem-list:hover .mem-title .mem-caption {
        color: black;
    }

    .mem-item:hover .mem-label .mem-img {
        max-height: 25rem;
        max-width: 100%;
        padding-top: 1rem;
        opacity: 1;
    }
}

.mem-label:active {
    opacity: 0.6;
}

.mem-label:active .mem-title .mem-caption {
    color: blue;
}


@media (max-width: 1200px) { 
    body {
        font-size: 1.2rem;
        background: rgb(151, 234, 137);
    }

    .wrapper {
        max-width: 85%; 
    }

    h1 {
        padding: 1.4rem;
        font-size: 2.4rem;
    }

    .mem-list {
        padding: 1rem 1.4rem;
    }
    
}

@media (max-width: 380px) { 
    body {
        font-size: .8rem;
        background: rgb(137, 223, 247);
    }

    h1 {
        padding: 1rem;
        font-size: 1.6rem;
    }

    .mem-list {
        padding: 1rem 1.4rem;
    }
    
}


