* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background: tan;
    height: 100vh;

}

.mem-list {
    list-style: none;
}

.mem-list:hover + .mem-title{
    background: red;
}

.mem-item {
    padding: 1rem 1rem;
    border: 1px solid red;
}

.mem-title {
    background: yellow;
    display: block;
    cursor: pointer;
}


.mem-img {
    display: none;
}

.mem-input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.mem-input:checked + .mem-img {
    display: block;
}

